
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.4;
  }
  .content {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
  }
  h2 {
    margin-top: 2em;
  }
  h3 {
    margin-top: 1.5em;
  }
  a {
    color: #03a9f4;
  }
  esp-web-install-button[install-unsupported] {
    visibility: inherit;
  }
  .content pre {
    max-width: 100%;
    overflow-y: scroll;
  }
  .footer {
    margin-top: 24px;
    border-top: 1px solid #ccc;
    padding-top: 24px;
    text-align: center;
  }
  .footer .initiative {
    font-style: italic;
    margin-top: 16px;
  }
  table {
    border-spacing: 0;
  }
  td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  .radios li {
    list-style: none;
    line-height: 2em;
  }
  .error-message {
    color: red;
    font-weight: bold;
    border: solid 2px #996600;
    padding-left: 1em;
    padding-right: 1em;
  }
  .big-button {
    display: block;
    left: auto;
    right: auto;
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #connect-button {
    background-color: #0099cc;
  }
  #retry-button {
    background-color: #cc9900;
  }
  #disconnect-button {
    background-color: #990000;
  }
  img {
    margin: 5px;
  }
  .invisible {
    visibility: hidden;
  }
  .hidden {
    display: none;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #fff;
    }
    a {
      color: #58a6ff;
    }
  }